---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* Importar Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');

/* Importaciones de Minimal Mistakes */
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

/* Definir las fuentes para el sitio */
body {
  font-family: 'Roboto', sans-serif;
}

/* Aplicar una fuente especial para los títulos */
.page__title {
  font-family: 'Montserrat', sans-serif;
}

/* Estilos personalizados */

/* Mejoras para la legibilidad del contenido */
.page__content {
  color: #d9e2ec;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

/* Hacer transparente el fondo del héroe en la página splash */
.page__hero--overlay {
  background-color: transparent !important;
}

/* Ocultar elementos innecesarios */
.page-header,
.site-footer,
.post-pagination,
.pagination,
.categories,
.tags,
.related,
.sidebar {
  display: none !important;
}

/* Ajustes para enlaces y botones */
.btn--primary {
  background-color: #00aaff;
}

.btn--primary:hover {
  background-color: #0088cc;
}

a {
  color: #00aaff;
}

a:hover {
  color: #0088cc;
}
