---
---

@import "minimal-mistakes/skins/dark"; // usamos el skin dark como base
@import "minimal-mistakes"; // después del skin, cargamos todo el tema

/* Colores personalizados */
$primary-color: #00aaff;
$link-color: $primary-color;
$accent-color: #005577;

$background-color: #0e1117;
$text-color: #d9e2ec;
$muted-text-color: #7f8c8d;

/* Fuente personalizada */
body {
  font-family: 'Inter', sans-serif;
  position: relative;
  z-index: 2;
  color: #d9e2ec;
}

/* Imagen de fondo como fondo total de página */
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/header-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.background-image::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* oscurece la imagen */
}

/* Ocultar la barra superior en splash */
body.page--splash .masthead,
body.page--splash .search__toggle {
  display: none !important;
}
